{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="{% static 'resumebuild/styles.css' %}">

</head>
<body>
    <h1>Projects List</h1>
    <form method="POST" action="{% url 'filter_projects' %}">
        {% csrf_token %}
        <label for="category">Filter by Category:</label>
        <select name="category" id="category">
                <option value=>All</option>
                <option value="AI">AI</option>
                <option value="Cloud">Cloud</option>
            <!-- Add more options for categories as needed -->
        </select>
        <button type="submit">Filter</button>
    </form>
    <form action ="{% url 'generate_resume'%}" method = "GET">
            <ul>
        {% for project in projects %}
        <li>
            <input type="checkbox" name="selected_projects" value="{{ project.id }}">
            {{ project.name }} - {{ project.category }}
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Add to Resume</button>
</body>
</html>
